<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css">
  <title> @page title </title>
  </head>

  <header> 
    <h1>Iron News</h1>
  </header>
  </div>
    <ul>
      <% @data["titles"].each do |titles| %>
      <li><%= titles %></li>
      <% end %>
    </ul>

  <% end %>
</body>
</div>
</html>
