body {
  font-family: 'Verdana', 'Geneva', sans-serif;
}

.logo {
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 5px;
  margin-left: 5pt;
  border: 2px solid #fff;
  font-weight: 600;
  font-size: 12pt
}

#main-wrapper {
  background-color: #eef0f3;
  max-width: 980px;
  margin: 0 auto;
  padding-bottom: 25px
}

 ul {
  width: 980px;
  margin: 0 auto;
  background-color: #8d90a1;
  padding-bottom: 7px;
  padding-top: 3px;
}

ul  {
  list-style: none;
  text-align: left;
  font-size: 10pt;  
}

ul li {
  display: inline-block;
  padding: 5px;
  border-right: 1px solid white;
}

ul li:nth-child(2) { 
 font-weight: bold;
 font-size: 12pt;
}

ul li:nth-child(8) { 
 border: none
}

h4 {
 float: right;
 padding: 5px;
 display: inline-block;
 font-size: 10pt; 
}

ol li {
  font-size: 10pt;
  padding: 3pt;
}

h2 {
  display: inline-block; 
  text-indent: 40pt; 
  font-size: 12pt;
}

h3 {
  display: inline-block;
  font-size:11pt;
  padding-left: 1px;
}

h5 {
  display: inline-block;
  padding: 4pt;
  font-size: 7pt;
  color: #585858;
}

p {
  text-align: inline-block;
  text-indent: 11pt;
  padding: 1pt;
  font-size: 8pt;
  color: #585858;
}

.footer_element {
  text-align: center;
  font-size: 9pt
}

footer li:nth-child(2) { 
 font-weight: normal;
 font-size: 9pt;
}

ul li:nth-child(8) { 
 border-right: 1px solid #909090;
}

 ul li:last-child { 
 border: none
}

footer li {
  border-right: 1px solid #909090;
}

.footer_element { 
 background-color: #eef0f3;
 max-width: 980px;
 margin: 0 auto;
 padding-bottom: 30px;
 padding-top: 20px;
 border-top: 3px solid #8d90a1
}







